services:
  app:
    build: ./app
    container_name: app
    depends_on:
      - redis

  redis:
    image: redis:alpine

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
